app/code/community/Amazon/Products/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="productsAmazonListEntity">
                <all>
                    <element name="entity_id" type="xsd:string" minOccurs="1" />
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="link" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="additional_attributes" type="typens:productsAmazonAdditionalAttributesEntity" minOccurs="0"/>

                    <element name="created_at" type="xsd:string" minOccurs="1" />
                    <element name="updated_at" type="xsd:string" minOccurs="1" />
                </all>
            </complexType>
            <complexType name="productsAmazonListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:productsAmazonListEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="productsAmazonAddEntity">
                <all>
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="link" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="additional_attributes" type="typens:productsAmazonAdditionalAttributesEntity" minOccurs="0"/>

                </all>
            </complexType>
            <complexType name="productsAmazonUpdateEntity">
                <all>
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="link" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="additional_attributes" type="typens:productsAmazonAdditionalAttributesEntity" minOccurs="0"/>

                </all>
            </complexType>
            <complexType name="productsAmazonInfoEntity">
                <all>
                    <element name="entity_id" type="xsd:string" minOccurs="1" />
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="link" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="additional_attributes" type="typens:productsAmazonAdditionalAttributesEntity" minOccurs="0"/>

                    <element name="created_at" type="xsd:string" minOccurs="1" />
                    <element name="updated_at" type="xsd:string" minOccurs="1" />
                </all>
            </complexType>
            <complexType name="productsAmazonAssignProductEntity">
                <all>
                <element name="amazonId" type="xsd:string" minOccurs="1" />
                <element name="productId" type="xsd:string" minOccurs="1" />
                <element name="position" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="productsAmazonUnassignProductEntity">
                <all>
                <element name="amazonId" type="xsd:string" minOccurs="1" />
                <element name="productId" type="xsd:string" minOccurs="1" />
                </all>
            </complexType>
                    <complexType name="productsAmazonAdditionalAttributesEntity">
                <all>
                    <element name="multi_data" type="typens:associativeMultiArray" minOccurs="0" />
                    <element name="single_data" type="typens:associativeArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeOptionEntity">
                <all>
                    <element name="label" type="xsd:string"/>
                    <element name="value" type="xsd:string"/>
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeOptionEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:productsAmazonAttributeOptionEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="productsAmazonAttributeOptionLabelEntity">
                <all>
                    <element name="store_id" type="typens:ArrayOfString" />
                    <element name="value" type="xsd:string" />
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeOptionLabelArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:productsAmazonAttributeOptionLabelEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="productsAmazonRequestAttributes">
                <all>
                    <element name="attributes" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="additional_attributes" type="typens:ArrayOfString" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeFrontendLabelEntity">
                <all>
                    <element name="store_id" type="xsd:string" />
                    <element name="label" type="xsd:string" />
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeFrontendLabelArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:productsAmazonAttributeFrontendLabelEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="productsAmazonAttributeEntityToCreate">
                <all>
                    <element name="attribute_code" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <element name="frontend_input" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <element name="scope" type="xsd:string" minOccurs="0" />
                    <element name="default_value" type="xsd:string" minOccurs="0" />
                    <element name="is_required" type="xsd:int" minOccurs="0" />
                    <element name="additional_fields" type="typens:associativeArray" minOccurs="0"/>
                    <element name="frontend_label" type="typens:productsAmazonAttributeFrontendLabelArray" minOccurs="1" />
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeEntityToUpdate">
                <all>
                    <element name="scope" type="xsd:string" minOccurs="0" />
                    <element name="default_value" type="xsd:string" minOccurs="0" />
                    <element name="is_required" type="xsd:int" minOccurs="0" />
                    <element name="additional_fields" type="typens:associativeArray" minOccurs="0"/>
                    <element name="frontend_label" type="typens:productsAmazonAttributeFrontendLabelArray" minOccurs="1" />
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeEntity">
                <all>
                    <element name="attribute_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <element name="attribute_code" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <element name="frontend_input" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <element name="scope" type="xsd:string" minOccurs="0" />
                    <element name="default_value" type="xsd:string" minOccurs="0" />
                    <element name="is_required" type="xsd:int" minOccurs="0" />
                    <element name="additional_fields" type="typens:associativeArray" minOccurs="0"/>
                    <element name="options" type="typens:productsAmazonAttributeOptionEntityArray" minOccurs="0"/>
                    <element name="frontend_label" type="typens:productsAmazonAttributeFrontendLabelArray" minOccurs="1" />
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeOptionLabelEntity">
                <all>
                    <element name="store_id" type="typens:ArrayOfString" />
                    <element name="value" type="xsd:string" />
                </all>
            </complexType>
            <complexType name="productsAmazonAttributeOptionLabelArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:productsAmazonAttributeOptionLabelEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="productsAmazonAttributeOptionEntityToAdd">
                <all>
                    <element name="label" type="typens:productsAmazonAttributeOptionLabelArray" />
                    <element name="order" type="xsd:int" />
                    <element name="is_default" type="xsd:int" />
                </all>
            </complexType>
        </schema>
    </types>
    <message name="productsAmazonListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters"/>
    </message>
    <message name="productsAmazonListResponse">
        <part name="result" type="typens:productsAmazonListEntityArray" />
    </message>
    <message name="productsAmazonInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="amazonId" type="xsd:string" />
    </message>
    <message name="productsAmazonInfoResponse">
        <part name="result" type="typens:productsAmazonInfoEntity" />
    </message>
    <message name="productsAmazonAddRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="data" type="typens:productsAmazonAddEntity" />
    </message>
    <message name="productsAmazonAddResponse">
        <part name="result" type="xsd:int"/>
    </message>
    <message name="productsAmazonUpdateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="amazonId" type="xsd:string" />
        <part name="data" type="typens:productsAmazonUpdateEntity" />
    </message>
    <message name="productsAmazonUpdateResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <message name="productsAmazonRemoveRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="amazonId" type="xsd:string" />
    </message>
    <message name="productsAmazonRemoveResponse">
        <part name="result" type="xsd:boolean" />
    </message>
        <message name="productsAmazonAssignProductRequest">
            <part name="sessionId" type="xsd:string" />
            <part name="amazon_id" type="xsd:string" />
            <part name="product_id" type="xsd:string" />
            <part name="position" type="xsd:string" />
        </message>
        <message name="productsAmazonAssignProductResponse">
            <part name="result" type="xsd:boolean" />
        </message>
        <message name="productsAmazonUnassignProductRequest">
            <part name="session_id" type="xsd:string" />
            <part name="amazon_id" type="xsd:string" />
            <part name="product_id" type="xsd:string" />
        </message>
        <message name="productsAmazonUnassignProductResponse">
            <part name="result" type="xsd:boolean" />
        </message>
        <message name="productsAmazonListOfAdditionalAttributesRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="productsAmazonListOfAdditionalAttributesResponse">
        <part name="result" type="typens:productsAmazonAttributeEntityArray" />
    </message>
    <message name="productsAmazonAttributeCurrentStoreRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="storeView" type="xsd:string"/>
    </message>
    <message name="productsAmazonAttributeCurrentStoreResponse">
        <part name="storeView" type="xsd:int"/>
    </message>
    <message name="productsAmazonAttributeListRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="productsAmazonAttributeListResponse">
        <part name="result" type="typens:productsAmazonAttributeEntityArray"/>
    </message>
    <message name="productsAmazonAttributeOptionsRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="attributeId" type="xsd:string"/>
        <part name="storeView" type="xsd:string"/>
    </message>
    <message name="productsAmazonAttributeOptionsResponse">
        <part name="result" type="typens:productsAmazonAttributeOptionEntityArray"/>
    </message>
    <message name="productsAmazonAttributeTypesRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="productsAmazonAttributeTypesResponse">
        <part name="result" type="typens:productsAmazonAttributeOptionEntityArray" />
    </message>
    <message name="productsAmazonAttributeCreateRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="data" type="typens:productsAmazonAttributeEntityToCreate"/>
    </message>
    <message name="productsAmazonAttributeCreateResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="productsAmazonAttributeRemoveRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="attribute" type="xsd:string"/>
    </message>
    <message name="productsAmazonAttributeRemoveResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <message name="productsAmazonAttributeInfoRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="attribute" type="xsd:string"/>
    </message>
    <message name="productsAmazonAttributeInfoResponse">
        <part name="result" type="typens:productsAmazonAttributeEntity" />
    </message>
    <message name="productsAmazonAttributeUpdateRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="attribute" type="xsd:string"/>
        <part name="data" type="typens:productsAmazonAttributeEntityToUpdate"/>
    </message>
    <message name="productsAmazonAttributeUpdateResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <message name="productsAmazonAttributeAddOptionRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="attribute" type="xsd:string"/>
        <part name="data" type="typens:productsAmazonAttributeOptionEntityToAdd"/>
    </message>
    <message name="productsAmazonAttributeAddOptionResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <message name="productsAmazonAttributeRemoveOptionRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="attribute" type="xsd:string"/>
        <part name="optionId" type="xsd:string"/>
    </message>
    <message name="productsAmazonAttributeRemoveOptionResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="productsAmazonList">
            <documentation>Retrieve list of amazon product</documentation>
            <input message="typens:productsAmazonListRequest" />
            <output message="typens:productsAmazonListResponse" />
        </operation>
        <operation name="productsAmazonInfo">
            <documentation>Retrieve amazon product info</documentation>
            <input message="typens:productsAmazonInfoRequest" />
            <output message="typens:productsAmazonInfoResponse" />
        </operation>
        <operation name="productsAmazonAdd">
            <documentation>Add amazon product</documentation>
            <input message="typens:productsAmazonAddRequest" />
            <output message="typens:productsAmazonAddResponse" />
        </operation>
        <operation name="productsAmazonUpdate">
            <documentation>Update amazon product</documentation>
            <input message="typens:productsAmazonUpdateRequest" />
            <output message="typens:productsAmazonUpdateResponse" />
        </operation>
        <operation name="productsAmazonRemove">
            <documentation>Remove amazon product</documentation>
            <input message="typens:productsAmazonRemoveRequest" />
            <output message="typens:productsAmazonRemoveResponse" />
        </operation>
        <operation name="productsAmazonAssignProduct">
            <documentation>Assign product to amazon product</documentation>
            <input message="typens:productsAmazonAssignProductRequest" />
            <output message="typens:productsAmazonAssignProductResponse" />
        </operation>
        <operation name="productsAmazonUnassignProduct">
            <documentation>Remove product from amazon product</documentation>
            <input message="typens:productsAmazonUnassignProductRequest" />
            <output message="typens:productsAmazonUnassignProductResponse" />
        </operation>
            <operation name="productsAmazonListOfAdditionalAttributes">
            <documentation>Get list of additional attributes which are not in default create/update list</documentation>
            <input message="typens:productsAmazonListOfAdditionalAttributesRequest"/>
            <output message="typens:productsAmazonListOfAdditionalAttributesResponse"/>
        </operation>
        <operation name="productsAmazonAttributeCurrentStore">
            <documentation>Set/Get current store view</documentation>
            <input message="typens:productsAmazonAttributeCurrentStoreRequest"/>
            <output message="typens:productsAmazonAttributeCurrentStoreResponse"/>
        </operation>
        <operation name="productsAmazonListOfAdditionalAttributes">
            <documentation>Get list of additional attributes which are not in default create/update list</documentation>
            <input message="typens:productsAmazonListOfAdditionalAttributesRequest"/>
            <output message="typens:productsAmazonListOfAdditionalAttributesResponse"/>
        </operation>
        <operation name="productsAmazonAttributeList">
            <documentation>Retrieve amazon product attribute list</documentation>
            <input message="typens:productsAmazonAttributeListRequest"/>
            <output message="typens:productsAmazonAttributeListResponse"/>
        </operation>
        <operation name="productsAmazonAttributeOptions">
            <documentation>Retrieve amazon product attribute options</documentation>
            <input message="typens:productsAmazonAttributeOptionsRequest"/>
            <output message="typens:productsAmazonAttributeOptionsResponse"/>
        </operation>
        <operation name="productsAmazonAttributeTypes">
            <documentation>Get list of possible amazon product attribute types</documentation>
            <input message="typens:productsAmazonAttributeTypesRequest"/>
            <output message="typens:productsAmazonAttributeTypesResponse"/>
        </operation>
        <operation name="productsAmazonAttributeCreate">
            <documentation>Create new amazon product attribute</documentation>
            <input message="typens:productsAmazonAttributeCreateRequest"/>
            <output message="typens:productsAmazonAttributeCreateResponse"/>
        </operation>
        <operation name="productsAmazonAttributeRemove">
            <documentation>Delete amazon product attribute</documentation>
            <input message="typens:productsAmazonAttributeRemoveRequest"/>
            <output message="typens:productsAmazonAttributeRemoveResponse"/>
        </operation>
        <operation name="productsAmazonAttributeInfo">
            <documentation>Get full information about amazon product attribute with list of options</documentation>
            <input message="typens:productsAmazonAttributeInfoRequest"/>
            <output message="typens:productsAmazonAttributeInfoResponse"/>
        </operation>
        <operation name="productsAmazonAttributeUpdate">
            <documentation>Update amazon product attribute</documentation>
            <input message="typens:productsAmazonAttributeUpdateRequest"/>
            <output message="typens:productsAmazonAttributeUpdateResponse"/>
        </operation>
        <operation name="productsAmazonAttributeAddOption">
            <documentation>Add option to amazon product attribute</documentation>
            <input message="typens:productsAmazonAttributeAddOptionRequest"/>
            <output message="typens:productsAmazonAttributeAddOptionResponse"/>
        </operation>
        <operation name="productsAmazonAttributeRemoveOption">
            <documentation>Remove option from amazon product attribute</documentation>
            <input message="typens:productsAmazonAttributeRemoveOptionRequest"/>
            <output message="typens:productsAmazonAttributeRemoveOptionResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="productsAmazonList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAdd">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonRemove">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAssignProduct">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonUnassignProduct">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
            <operation name="productsAmazonListOfAdditionalAttributes">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="productsAmazonAttributeCurrentStore">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeOptions">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeTypes">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeRemove">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeAddOption">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsAmazonAttributeRemoveOption">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
