app/code/community/Amazon/Products/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     name="{{var wsdl.name}}"
     targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="productsAmazonEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:productsAmazonEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="additional_attributes" type="typens:associativeArray" minOccurs="0" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAddEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="additional_attributes" type="typens:associativeArray" minOccurs="0" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonUpdateEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="additional_attributes" type="typens:associativeArray" minOccurs="0" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonInfoEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="additional_attributes" type="typens:associativeArray" minOccurs="0" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAssignProductEntity">
                <xsd:sequence>
                <xsd:element name="amazonId" type="xsd:string" />
                <xsd:element name="productId" type="xsd:string" />
                <xsd:element name="position" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonUnassignProductEntity">
                <xsd:sequence>
                <xsd:element name="amazonId" type="xsd:string" />
                <xsd:element name="productId" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        
            <xsd:element name="productsAmazonListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:productsAmazonEntityArray" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:productsAmazonInfoEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:productsAmazonAddEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:productsAmazonUpdateEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAssignProductRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="position" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAssignProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonUnassignProductRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonUnassignProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
                    <xsd:complexType name="productsAmazonAttributeEntity">
                <xsd:sequence>
                    <xsd:element name="attribute_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="scope" type="xsd:string" minOccurs="0" />
                    <xsd:element name="required" type="xsd:int" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:productsAmazonAttributeEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeEntityInfo">
                <xsd:sequence>
                    <xsd:element name="attribute_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="scope" type="xsd:string" minOccurs="0" />
                    <xsd:element name="required" type="xsd:int" minOccurs="0" />
                    <xsd:element name="frontend_label" type="typens:productsAmazonAttributeFrontendLabelArray" minOccurs="0" />
                    <xsd:element name="additional_fields" type="typens:associativeArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeOptionEntity">
                <xsd:sequence>
                    <xsd:element name="label" type="xsd:string" />
                    <xsd:element name="value" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeOptionEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:productsAmazonAttributeOptionEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAdditionalAttributesEntity">
                <xsd:sequence>
                    <xsd:element name="multi_data" type="typens:associativeMultiArray" minOccurs="0" />
                    <xsd:element name="single_data" type="typens:associativeArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeOptionEntity">
                <xsd:sequence>
                    <xsd:element name="label" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeOptionEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:productsAmazonAttributeOptionEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeOptionLabelEntity">
                <xsd:sequence>
                    <xsd:element name="store_id" type="typens:ArrayOfString" />
                    <xsd:element name="value" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeOptionLabelArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:productsAmazonAttributeOptionLabelEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonRequestAttributes">
                <xsd:sequence>
                    <xsd:element name="attributes" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="additional_attributes" type="typens:ArrayOfString" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeFrontendLabelEntity">
                <xsd:sequence>
                    <xsd:element name="store_id" type="xsd:string" />
                    <xsd:element name="label" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeFrontendLabelArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:productsAmazonAttributeFrontendLabelEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeEntityToCreate">
                <xsd:sequence>
                    <xsd:element name="attribute_code" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="frontend_input" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="scope" type="xsd:string" minOccurs="0" />
                    <xsd:element name="default_value" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_required" type="xsd:int" minOccurs="0" />
                    <xsd:element name="additional_fields" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="frontend_label" type="typens:productsAmazonAttributeFrontendLabelArray" minOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeEntityToUpdate">
                <xsd:sequence>
                    <xsd:element name="scope" type="xsd:string" minOccurs="0" />
                    <xsd:element name="default_value" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_required" type="xsd:int" minOccurs="0" />
                    <xsd:element name="additional_fields" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="frontend_label" type="typens:productsAmazonAttributeFrontendLabelArray" minOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="productsAmazonAttributeOptionLabelEntity">
                <xsd:sequence>
                    <xsd:element name="store_id" type="typens:ArrayOfString" />
                    <xsd:element name="value" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeOptionLabelArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:productsAmazonAttributeOptionLabelEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productsAmazonAttributeOptionEntityToAdd">
                <xsd:sequence>
                    <xsd:element name="label" type="typens:productsAmazonAttributeOptionLabelArray" />
                    <xsd:element name="order" type="xsd:int" />
                    <xsd:element name="is_default" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="productsAmazonAttributeCurrentStoreRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeCurrentStoreResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:productsAmazonAttributeEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeOptionsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="attributeId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeOptionsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:productsAmazonAttributeOptionEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:productsAmazonAttributeEntityToCreate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeCreateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeTypesRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeTypesResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:productsAmazonAttributeOptionEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="productsAmazonListOfAdditionalAttributesRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonListOfAdditionalAttributesResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:productsAmazonAttributeEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="productsAmazonAttributeUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="attribute" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:productsAmazonAttributeEntityToUpdate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="productsAmazonAttributeRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="attribute" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="productsAmazonAttributeInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="attribute" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:productsAmazonAttributeEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="productsAmazonAttributeAddOptionRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="attribute" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:productsAmazonAttributeOptionEntityToAdd" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeAddOptionResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeRemoveOptionRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="attribute" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="optionId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productsAmazonAttributeRemoveOptionResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="productsAmazonListRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonListRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonListResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonListResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonInfoRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonInfoResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAddRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAddResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAddResponseParam"/>
    </wsdl:message>
    <wsdl:message name="productsAmazonUpdateRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonUpdateResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonUpdateResponseParam"/>
    </wsdl:message>
    <wsdl:message name="productsAmazonRemoveRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonRemoveResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonRemoveResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAssignProductRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAssignProductRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAssignProductResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAssignProductResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonUnassignProductRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonUnassignProductRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonUnassignProductResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonUnassignProductResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonListOfAdditionalAttributesRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonListOfAdditionalAttributesRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonListOfAdditionalAttributesResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonListOfAdditionalAttributesResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeCurrentStoreRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeCurrentStoreRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeCurrentStoreResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeCurrentStoreResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeListRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeListRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeListResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeListResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeOptionsRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeOptionsRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeOptionsResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeOptionsResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeTypesRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeTypesRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeTypesResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeTypesResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeCreateRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeCreateResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeCreateResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeRemoveRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeRemoveResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeRemoveResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeInfoRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeInfoResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeUpdateRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeUpdateResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeUpdateResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeAddOptionRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeAddOptionRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeAddOptionResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeAddOptionResponseParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeRemoveOptionRequest">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeRemoveOptionRequestParam" />
    </wsdl:message>
    <wsdl:message name="productsAmazonAttributeRemoveOptionResponse">
        <wsdl:part name="parameters" element="typens:productsAmazonAttributeRemoveOptionResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="productsAmazonList">
            <wsdl:documentation>Retrieve list of amazon products</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonListRequest" />
            <wsdl:output message="typens:productsAmazonListResponse" />
        </wsdl:operation>
        <wsdl:operation name="productsAmazonInfo">
            <wsdl:documentation>Retrieve amazon product info</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonInfoRequest" />
            <wsdl:output message="typens:productsAmazonInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAdd">
            <wsdl:documentation>Add amazon product</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAddRequest" />
            <wsdl:output message="typens:productsAmazonAddResponse" />
        </wsdl:operation>
        <wsdl:operation name="productsAmazonUpdate">
            <wsdl:documentation>Update amazon product</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonUpdateRequest" />
            <wsdl:output message="typens:productsAmazonUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="productsAmazonRemove">
            <wsdl:documentation>Remove amazon product</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonRemoveRequest" />
            <wsdl:output message="typens:productsAmazonRemoveResponse" />
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAssignProduct">
            <wsdl:documentation>Assign product to amazon product</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAssignProductRequest" />
            <wsdl:output message="typens:productsAmazonAssignProductResponse" />
        </wsdl:operation>
        <wsdl:operation name="productsAmazonUnassignProduct">
            <wsdl:documentation>Remove product from amazon product</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonUnassignProductRequest" />
            <wsdl:output message="typens:productsAmazonUnassignProductResponse" />
        </wsdl:operation>
            <wsdl:operation name="productsAmazonListOfAdditionalAttributes">
            <wsdl:documentation>Get list of additional attributes which are not in default create/update list</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonListOfAdditionalAttributesRequest"/>
            <wsdl:output message="typens:productsAmazonListOfAdditionalAttributesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeCurrentStore">
            <wsdl:documentation>Set/Get current store view</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeCurrentStoreRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeCurrentStoreResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonListOfAdditionalAttributes">
            <wsdl:documentation>Get list of additional attributes which are not in default create/update list</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonListOfAdditionalAttributesRequest"/>
            <wsdl:output message="typens:productsAmazonListOfAdditionalAttributesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeList">
            <wsdl:documentation>Retrieve amazon product attribute list</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeListRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeOptions">
            <wsdl:documentation>Retrieve amazon product attribute options</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeOptionsRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeOptionsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeTypes">
            <wsdl:documentation>Get list of possible amazon product attribute types</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeTypesRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeTypesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeCreate">
            <wsdl:documentation>Create new amazon product attribute</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeCreateRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeCreateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeRemove">
            <wsdl:documentation>Delete amazon product attribute</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeRemoveRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeRemoveResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeInfo">
            <wsdl:documentation>Get full information about amazon product attribute with list of options</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeInfoRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeUpdate">
            <wsdl:documentation>Update amazon product attribute</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeUpdateRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeAddOption">
            <wsdl:documentation>Add option to amazon product attribute</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeAddOptionRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeAddOptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeRemoveOption">
            <wsdl:documentation>Remove option from amazon product attribute</wsdl:documentation>
            <wsdl:input message="typens:productsAmazonAttributeRemoveOptionRequest"/>
            <wsdl:output message="typens:productsAmazonAttributeRemoveOptionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="productsAmazonList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAdd">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonRemove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAssignProduct">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonUnassignProduct">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
            <wsdl:operation name="productsAmazonListOfAdditionalAttributes">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeCurrentStore">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeOptions">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeTypes">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeCreate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeRemove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeAddOption">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="productsAmazonAttributeRemoveOption">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
