app/code/community/amazonProducts/AmazonProducts/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     name="{{var wsdl.name}}"
     targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="amazonproductsAmazonproductEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:amazonproductsAmazonproductEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="amazonproductsAmazonproductEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="enabled" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="parent_id" type="xsd:string" />
                    <xsd:element name="path" type="xsd:string" />
                    <xsd:element name="position" type="xsd:string" />
                    <xsd:element name="level" type="xsd:string" />
                    <xsd:element name="children_count" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="amazonproductsAmazonproductAddEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="enabled" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="parent_id" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="amazonproductsAmazonproductUpdateEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="enabled" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="parent_id" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="amazonproductsAmazonproductInfoEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="enabled" type="xsd:string" />
                    <xsd:element name="link" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="parent_id" type="xsd:string" />
                    <xsd:element name="path" type="xsd:string" />
                    <xsd:element name="position" type="xsd:string" />
                    <xsd:element name="level" type="xsd:string" />
                    <xsd:element name="children_count" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="amazonproductsAmazonproductMoveEntity">
                <xsd:sequence>
                <xsd:element name="amazonproduct_id" type="xsd:string" />
                <xsd:element name="parent_id" type="xsd:string" />
                <xsd:element name="after_id" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="amazonproductsAmazonproductAssignProductEntity">
                <xsd:sequence>
                <xsd:element name="amazonproductId" type="xsd:string" />
                <xsd:element name="productId" type="xsd:string" />
                <xsd:element name="position" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="amazonproductsAmazonproductUnassignProductEntity">
                <xsd:sequence>
                <xsd:element name="amazonproductId" type="xsd:string" />
                <xsd:element name="productId" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        
            <xsd:element name="amazonproductsAmazonproductListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:amazonproductsAmazonproductEntityArray" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonproductId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:amazonproductsAmazonproductInfoEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:amazonproductsAmazonproductAddEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonproductId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:amazonproductsAmazonproductUpdateEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonproductId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductMoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="session_id" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonproductId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="parentId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="afterId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductAssignProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductAssignProductRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonproductId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="position" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductAssignProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductUnassignProductRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="amazonproductId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amazonproductsAmazonproductUnassignProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
                </xsd:schema>
    </wsdl:types>
    <wsdl:message name="amazonproductsAmazonproductListRequest">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductListRequestParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductListResponse">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductListResponseParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductInfoRequest">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductInfoResponse">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductAddRequest">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductAddResponse">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductAddResponseParam"/>
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductUpdateRequest">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductUpdateResponse">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductUpdateResponseParam"/>
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductRemoveRequest">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductRemoveResponse">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductRemoveResponseParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductMoveRequest">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductMoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductMoveResponse">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductMoveResponseParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductAssignProductRequest">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductAssignProductRequestParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductAssignProductResponse">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductAssignProductResponseParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductUnassignProductRequest">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductUnassignProductRequestParam" />
    </wsdl:message>
    <wsdl:message name="amazonproductsAmazonproductUnassignProductResponse">
        <wsdl:part name="parameters" element="typens:amazonproductsAmazonproductUnassignProductResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="amazonproductsAmazonproductList">
            <wsdl:documentation>Retrieve list of amazon products</wsdl:documentation>
            <wsdl:input message="typens:amazonproductsAmazonproductListRequest" />
            <wsdl:output message="typens:amazonproductsAmazonproductListResponse" />
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductInfo">
            <wsdl:documentation>Retrieve amazon product info</wsdl:documentation>
            <wsdl:input message="typens:amazonproductsAmazonproductInfoRequest" />
            <wsdl:output message="typens:amazonproductsAmazonproductInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductAdd">
            <wsdl:documentation>Add amazon product</wsdl:documentation>
            <wsdl:input message="typens:amazonproductsAmazonproductAddRequest" />
            <wsdl:output message="typens:amazonproductsAmazonproductAddResponse" />
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductUpdate">
            <wsdl:documentation>Update amazon product</wsdl:documentation>
            <wsdl:input message="typens:amazonproductsAmazonproductUpdateRequest" />
            <wsdl:output message="typens:amazonproductsAmazonproductUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductRemove">
            <wsdl:documentation>Remove amazon product</wsdl:documentation>
            <wsdl:input message="typens:amazonproductsAmazonproductRemoveRequest" />
            <wsdl:output message="typens:amazonproductsAmazonproductRemoveResponse" />
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductMove">
            <wsdl:documentation>Move amazon product in tree</wsdl:documentation>
            <wsdl:input message="typens:amazonproductsAmazonproductMoveRequest" />
            <wsdl:output message="typens:amazonproductsAmazonproductMoveResponse" />
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductAssignProduct">
            <wsdl:documentation>Assign product to amazon product</wsdl:documentation>
            <wsdl:input message="typens:amazonproductsAmazonproductAssignProductRequest" />
            <wsdl:output message="typens:amazonproductsAmazonproductAssignProductResponse" />
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductUnassignProduct">
            <wsdl:documentation>Remove product from amazon product</wsdl:documentation>
            <wsdl:input message="typens:amazonproductsAmazonproductUnassignProductRequest" />
            <wsdl:output message="typens:amazonproductsAmazonproductUnassignProductResponse" />
        </wsdl:operation>
        </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="amazonproductsAmazonproductList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductAdd">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductRemove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductMove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductAssignProduct">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amazonproductsAmazonproductUnassignProduct">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
